:root {
  --gap: 16px;
  --container-max-width: 100%;
  --font-family: 'Noto Sans', sans-serif;
  --normal-weight: 400;
  --medium-weight: 500;
  --semibold-weight: 600;

  .text-normal {
    font-weight: var(--normal-weight);
  }

  .text-medium {
    font-weight: var(--medium-weight);
  }

  .text-semibold {
    font-weight: var(--semibold-weight);
  }

  --text-xs: 12px;
  --text-sm: 14px;
  --text-base: 16px;
  --text-lg: 18px;
  --text-xl: 20px;
  --text-2xl: 24px;
  --text-3xl: 30px;
  --text-4xl: 36px;
  --text-5xl: 48px;
  --text-6xl: 60px;

  .text-xs {
    font-size: var(--text-xs);
  }

  .text-sm {
    font-size: var(--text-sm);
  }

  .text-md {
    font-size: var(--text-md);
  }

  .text-lg {
    font-size: var(--text-lg);
  }


  /* colors */
  --indigo-700: #4338ca;
  --green-700: #15803D;
  --green-200: #BBF7d0;
  --green-50: #F0FDF4;
  --white: #ffffff;
  --neutral-900: #171717;
  --neutral-600: #525252;

  /* shadows */
  --box-shadow: 0px 0px 0px 4px rgba(68, 76, 231, 0.12);

  @media (min-width: 768) {
    --gap: 32px;
    --container-max-width: 100%;
  }

  @media (min-width: 1440px) {
    --gap: 32px;
    --container-max-width: 1280px;
  }

}